anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
cmake
comm
datasets
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
fqdn
freetype-py
hsluv
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lit
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
python-dateutil
python-json-logger
PyQt5
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
tabulate
terminado
tensorboard
tinycss2
tomli
torch
torchvision
tornado
traitlets
triton
typing_extensions
tzdata
uri-template
urllib3==1.26.6
vispy
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
zipp
